

body{
    margin: 0px;
    padding: 0px;
    background: #1abc9d;
  }
  
  h1{
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    margin: 2em auto 0px;
  }

  .inner-screen{
    width: 800px;
    height: 340px;
    background: #1abc9d;
    margin: 0px auto;
    padding-top: 80px;
  }
  
  .form{
    width: 400px;
    height: 300px;
    background: #edeff1;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  a{
    text-align: center;
    font-family: Arial;
    color: gray;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 12px;
  }
  
  a:hover{
    color: #1abc9d;
  }
  
  
  ::-webkit-input-placeholder {
     color: gray;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: gray;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: gray;  
  }
  
  :-ms-input-placeholder {  
     color: gray;
  }