.styled-select {
   margin-top: 10px;
   border: 2em;
}

.styled-select select {
   background: transparent;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   text-align: center;
   font-size: 12px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
}

.p-left {
    padding: 10px 10px 10px 30px;
    text-align: left;
}

.header-general {
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.text-radio {
    font-size: 12px;
}